@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width:  150px;
    height: 150px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.light {
  --bg-color: white;
  --text-color: black;
  --nav-bg-color: #38a169; 
}


.dark {
  --bg-color: #1a202c;
  --text-color: white;
  --nav-bg-color: #2d3748; 
}

html, body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.navbar {
  background-color: var(--nav-bg-color);
}

  